# Environment variables & secrets
.env
mdp.txt

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/

# Node
node_modules/
frontend/.next/
frontend/out/

# Docker
uploads/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
